<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title><%= yield(:title) %> | Ruby On Rails Tutorial Sample App</title>
=======
    <title><%= full_title(yield(:title)) %></title>
>>>>>>> 5f0a22c2b06bdfc1f4961fdb13531de3b7f0a6eb
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
